<h1>
  <%= @sub.title %>
</h1>
<br>

<h4>Description</h4>

<p><%= @sub.description %></p>

<% if @sub.moderator_id == current_user.id %>

<p>
  <a href="<%= edit_sub_url %>">Edit</a>
</p>

<!--<form action="<%=  %>">

  <input type="Submit" value="EDIT" >

</form>-->